body .wp-full-overlay{
    z-index: 9999;
}

.wp-js-editor-active textarea{
    display: none;
}
.wp-js-editor-active .wp-js-editor-preview {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #32373c;
    outline: 0 none;
    transition: border-color 50ms ease-in-out 0s;
    min-height: 150px;
    display: block;
    padding: 2px 6px;
}
.wp-js-editor-preview img {
    max-width: 100%;
    height: auto;
}

.modal-wp-js-editor {
    width: 500px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    background: #FFFFFF;
    padding: 15px;
}